AlignConsecutiveDeclarations: true
BasedOnStyle: LLVM
BreakBeforeBraces: Linux
IndentCaseLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertBraces: true
PointerAlignment: Right
SortIncludes: true
